* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  vertical-align: middle;
}

body {
  background-color: #f7f7f7;
}

#game-board {
  margin: 50 auto;
  border: 5px solid #000;
  width: 400px;
  height: 400px;
}

.tile {
  display: inline-block;
  width: 23%;
  height: 23%;
  margin: 1%;
  border: 1px solid red;
}

.empty {
  @extend .tile;
}
